<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.todolist.po.mapper.TaskMapper">


    <select id="getTaskList" resultType="cn.todolist.po.model.Task">
        select * from todo_task where user_id = #{user_id}
    </select>
</mapper>
